@page
@model PersonalWebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center mb-4 mb-md-0">
            <img src="/images/dormhi_profil.png" class="img-fluid rounded-circle shadow-lg border border-5 border-secondary" alt="Dormhi Picture" style="max-width: 250px;">
        </div>
        <div class="col-md-8">
            <h2 class="display-5 fw-bold lh-1 mb-3">Who Am I?</h2>
            <p class="lead">Hi, I'm Davut Can Cüci (Dormhi). I have been striving to be the best in the fields of computers and software that I have been interested in since my childhood.</p>
            
            <div class="row mt-4">
                <div class="col-sm-6">
                    <h4><i class="fa-solid fa-user-graduate text-primary"></i> General Info</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa-solid fa-check text-success"></i> Computer Engineering student (3rd class)</li>
                        <li><i class="fa-solid fa-check text-success"></i> Interested in software dev & problem solving</li>
                        <li><i class="fa-solid fa-location-dot text-danger"></i> Based in Turkiye</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4><i class="fa-solid fa-code text-primary"></i> What I Know?</h4>
                    <ul class="list-unstyled">
                        <li><strong>Languages:</strong> C++, Python, HTML/CSS</li>
                        <li><strong>Interests:</strong> Algorithms & Design, Machine Learning, Artificial Intelligence, Business Analysis Expertise</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <h4><i class="fa-solid fa-book-open-reader text-warning"></i> Currently Learning</h4>
                    <p>Advanced Data Structures, System Design, Linux, Web Development (Node.js)</p>
                </div>
            </div>
            
            <a asp-page="/Contact" class="btn btn-outline-primary mt-3 btn-animated">Contact Me</a>
        </div>
    </div>
</div>
